*{
    -fx-base: #424242;
   
}

.button{
    -fx-shape:"M 350 200 L 250 300 L 275 300 L 275 375 L 425 375 L 425 300 L 450 300 L 350 200 ";
}
.button1{
    -fx-shape: "M 100 280 Q 80 260 100 220 L 300 220 Q 320 260 300 280 L 100 280 ";
}